<div class="file-area">
  <input type="file" (change)="onFileUpload($event)" />
</div>
<div class="download-area">
  @if (fileReaderService.csvFiles().length) {
  <div class="helper">Znaleziono obiekty:</div>
  @for (item of fileReaderService.csvFiles(); track $index) {
  <app-file-display [file]="item" />
  } } @else if (fileReaderService.errorMsg()) {
  <div>Nie udało się odczytać pliku. Wystąpił błąd:</div>
  {{ fileReaderService.errorMsg() }}
  } @else { <div class="center">Dodaj plik, aby odczytać obiekty.</div> }
</div>
